.postItem {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: calc(100% - 20px);
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgb(0 39 74 / 50%);
  gap: 8px;
}

.itemImage {
  flex: 1 0 0;
}

.likeArea {
  flex: 2 0 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.postText {
  flex: 15 0 0;
}

.itemImage img {
  width: 5vw;
  height: 5vw;
  border-radius: 30px;
  object-fit: cover;
}

.likeButton {
  padding: 2px 5px 0px 5px;
}

