.avatar {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;
}

.profileInfo {
   display: grid;
   grid-template-columns: 20% auto;
   grid-template-areas: 
    'image info'
    '. info';
    background-color: aliceblue;
    border-radius: 10px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}

.profileImage {
    padding: 10px;
    grid-area: image;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #D0EFFF;
}

.descriptionBlock {
    grid-area: info;
    padding: 10px;
    background-color: #D0EFFF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.backButton {
    padding: 2px 5px 0 5px;
}